langgraph==1.2.12
langchain==1.4.2
langchain-openai==1.6.5
langchain-core==1.6.4
python-dotenv==1.2.3
pydantic==2.13.5
openai
python-dotenv
SpeechRecognition
pyttsx3
pyaudio
sounddevice
scipy
numpy
streamlit
streamlit_agraph
pydub
edge-tts 
pygame
streamlit-mic-recorder
streamlit-js-eval
nest_asyncio
black
flask

